# Import libaries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pd
import seaborn as sns

# Get differnt sheet to differnt sheets

In [ ]:
df1 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '1br flat', header=[1,2], index_col=[0, 1])
df2 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '2br Flat', header=[1,2], index_col=[0, 1])
df3 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '3br Flat', header=[1,2], index_col=[0, 1])
df4 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '2br House', header=[1,2], index_col=[0, 1])
df5 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '3br House', header=[1,2], index_col=[0, 1])
df6 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '4br House', header=[1,2], index_col=[0, 1])
df7 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name ='All Properties', header=[1,2], index_col=[0, 1])

# Create DF from all small DF

In [ ]:
frames = [df1,df2,df3,df4,df4,df5,df6]
dfn = pd.concat(frames, keys=['1br flat',
 '2br Flat',
 '3br Flat',
 '2br House',
 '3br House',
 '4br House',
 'All Properties'])

dfn

# Replase differnt signs to common NaN

In [ ]:
dfn0=dfn.replace('-', np.NaN)
dfn1=dfn0.replace('.',np.NaN)

In [ ]:
dfn1.shape

# Get Transpose of that DF

In [ ]:
dfh=dfn1.transpose()
dfh

In [ ]:
dfh.shape

no colomns all colomns missed

In [ ]:
dfh.isnull().all().sum()

No of colomns include missing values

In [ ]:
dfh.isnull().any().sum()

# Drop rows which all are null

In [ ]:
df=dfn1.dropna(how='all')
df.isnull().all(axis=1).sum()
dfh=df.transpose()

# checking null after dropping null colomn and row wise

In [ ]:
dfh.isnull().all(axis=1).sum()

In [ ]:
dfh.isnull().all().sum()

No of colomns has missing value after drop some

In [ ]:
dfh.isnull().any().sum()

No of cell that has missing vaues after droppng

In [ ]:
dfh.isnull().sum().sum()

# Check shape after drop colomns which had all NULL

In [ ]:
dfh.shape

# Data types

In [ ]:
dfh.dtypes.values

# Data discription

In [ ]:
dfh.describe()

# duplicated?

In [ ]:
df.duplicated(subset=None).sum()

In [ ]:
dfh.duplicated().sum()

In [ ]:
col=df.columns.values
col

In [ ]:
duplicate = df[df.duplicated(subset=col)]
  
print("Duplicate Rows :") 
duplicate

# drop duplicates

In [ ]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

In [ ]:
dfh=df.transpose()

# check after drop duplicates

In [ ]:
df.duplicated().sum()

In [ ]:
dfp1=df7.replace('-', np.NaN)
dfp2=dfp1.replace('.', np.NaN)

In [ ]:
dfp2.isnull().all().sum()

In [ ]:
dfp2.duplicated().sum()

In [ ]:
dfp3=dfp2.drop_duplicates()

In [ ]:
dfp3.tail(10)

In [ ]:
dfp4.shape

In [ ]:
dfp4.columns

In [ ]:
dfpm1=dfp4.filter(like='Median').transpose()
dfpm=dfpm1.filter(like='Group')
dfpm

In [ ]:
dfpm.describe()

In [ ]:
dfpc1=dfp4.filter(like='Count')
dfpc=dfpc1.transpose().filter(like='Group')
dfpc

In [ ]:
dfpm.index.name = 'Year'
dfpm.reset_index(inplace=True)

In [ ]:
# dfpm.drop([1],
#   axis='columns', inplace=True)
# dfpm